.drive{
    height: auto;
    width: auto;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 20%;
    
    
   
}
.drive h1{
    font-size: 30px;
    font-weight: 550;
    color: white;
    margin-bottom: 40px;
    text-align: flex-start; 
    display: flex;
    flex-direction: row;
}
.drive-management{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: flex-start; 
    width: 100%;
    margin-left: 20px;
}

.drive-label,
.drive-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    color: white;
}
.drive-buttons{
    width: auto;
    
}
.drive-buttons a, .drive-label h3{
    padding: 12px 30px;
    margin-bottom: 20px;
}
.drive-buttons a {
    color: white;
    background: #5E398E;
    border: 1px solid transparent;
    line-height: 1.4;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
    text-align: center; 
    
}
.drive-buttons a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(5px);
}
.drive-buttons a.ctaa{
    background: transparent;
    border: 1px solid white;
    
}
.drive-label h3 {
    color: white;
    white-space: nowrap; 
    font-weight: 500;
}


