{% extends "index.html" %}

{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/drive.css') }}">
{% endblock %}

{% block content %}

<section class="drive">
    <h1>Drive Management</h1>
    <div class="drive-management">
        <div class="drive-label">
            {% if 'token' in session %}
                <h3>Refresh Google Drive Connection: </h3>
                <h3>Switch Google Drive Account: </h3>
                <h3>Sign Out: </h3>
            {% else %}
                <h3>Login to Google Drive: </h3>
            {% endif %}
            
        </div>
        <div class="drive-buttons">
            {% if 'token' in session %}
                <a href="/drive-refresh" class="refresh">Refresh</a> 
                <a href="/google/login" class="connect">Switch</a>
                <a href="/google/logout" class="connect">Logout</a>
            {% else %}
                <a href="/google/login" class="connect">Login</a>
            {% endif %}         
        </div>   

    </div>
     
    
       

</section>



{% endblock %}