{% extends "index.html" %}

{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/library.css') }}">
{% endblock %}

{% block content %}

<section class="library">
    <h1>Library</h1>
    <div class="search">
        <form action="{{ url_for('views.library') }}"  method="POST" class="search-bar">
            <input type="text" id="search" name="search" placeholder="Search" autocomplete="off">
            <button type="submit"><i class="ri-search-line"></i></button>
        </form>
    </div>
    <div class="gallery">
        {% for image in images %}
            <div class="gallery-item">
                <a href="{{ image }}" data-gallery="gall">
                    <img src="{{ image }}" class="gallery-image">
                </a>
            </div>
        {% endfor %}
    </div>


</section>



{% endblock %}
<div class="dream">
    <img src="{{ url_for('static', filename='assets/photo1.jpg') }}">
    <img src="{{ url_for('static', filename='assets/photo2.jpg') }}">
    <img src="{{ url_for('static', filename='assets/photo3.jpg') }}">
    <img src="{{ url_for('static', filename='assets/photo4.jpg') }}">
    <img src="{{ url_for('static', filename='assets/photo5.jpg') }}">
</div>
<div class="dream">
    <img src="{{ url_for('static', filename='assets/photo1.jpg') }}">
    <img src="{{ url_for('static', filename='assets/photo2.jpg') }}">
    <img src="{{ url_for('static', filename='assets/photo3.jpg') }}">
    <img src="{{ url_for('static', filename='assets/photo4.jpg') }}">
    <img src="{{ url_for('static', filename='assets/photo5.jpg') }}">
</div>