{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}
<form method = "POST">
    <h3 align="center">Login</h3>
    <div class="form-group m-2">
        <label for="text">Email</Address></label>
        <input type="email" 
        class="form-control" 
        id="email" 
        name="email" 
        placeholder="Enter Email">
    </div>
    <div class="form-group m-2">
        <label for="password1">Password</Address></label>
        <input type="text" 
        class="form-control" 
        id="password1" 
        name="password1" 
        placeholder="Enter Password">
    </div>
    <br />
    <button type="submit" class="btn btn-outline-primary">Login</button>
    
</form>

{% endblock %}